@import "helpers.scss";
@import "mixins.scss";

html, body, div, table, p, h1, h2, h3, h4, h5, h6, a, img, ul, ol, li {
  margin: 0;
  padding: 0;
}

//Keyframes

@for $i from 1 through length($cards) {
  @include keyframes(change_bgr--#{$i}) {
    0% {
      background-image: map-get(nth($cards, $i), grey);
    }
    100% {
      background-image: map-get(nth($cards, $i), colored);
    }
  }
}

/* General */

@font-face {
  font-family: 'Gotham Book';
  src: url('fonts/gotham-book-webfont.woff2') format('woff2'),
  url('fonts/gotham-book-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Bold';
  src: url('fonts/gotham-bold-webfont.woff2') format('woff2'),
  url('fonts/gotham-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Black';
  src: url('fonts/gotham-black-webfont.woff2') format('woff2'),
  url('fonts/gotham-black-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Light';
  src: url('fonts/gotham-light-webfont.woff2') format('woff2'),
  url('fonts/gotham-light-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

body {
  @include font-typeface($font-family-regular);
  font-size: 15px;
  line-height: 1.5;
  @include background($color-black);
  color: $color-grey-light;
}

img {
  line-height: 0;
  border: 0 none;
}

a {
  text-decoration: none;
}

p {
  @include margin-b(20px);
}

.wrapper {
  @include margin-auto;
  max-width: 1210px;
  padding: 0 15px;

  &--narrow {
    max-width: 810px;
  }
}

/* Classes-helpers */

.go-block {
  display: block;
}

.tablet-centered {
  @include tablet-down {
    text-align: center;
  }
}

.nowrap {
  white-space: nowrap;
}


.limited-width {
  // max-width from 25% to 100%
  @for $i from 5 through 20 {
    &--#{$i * 5} {
      @include max-width(($i * percentage(.1)) / 2);
    }
  }
}

.bordered {
  &-bottom {
    @include bordered-section(bottom);
  }

  &-top {
    @include bordered-section(top);
  }
}

/* Typography */

.link {
  color: $color-green;

  &:hover {
    color: $color-green-hover;
  }
}

.paragraph-big {
  font-size: 18px;
}

.title {
  @include font-typeface($font-family-bold);
  @include title(28px);
  @include margin-b(45px);

  @include desktop-down {
    font-size: 22px;
  }

  @include tablet-down {
    @include margin-b(30px);
  }

  color: $color-white;

  &--size_xxl {
    @include title(115px);
    @include font-typeface($font-family-black);
    text-transform: uppercase;

    @include desktop-down {
      font-size: 100px;
    }

    @include tablet-down {
      font-size: 80px;
    }

    @media screen and (max-width: 600px) {
      font-size: 60px;
    }

    @include mob-down {
      font-size: 50px;
    }

    @include mob-mini-down {
      font-size: 40px;
    }
  }

  &--size_xl {
    @include title(100px);
    @include font-typeface($font-family-black);
    text-transform: uppercase;
    @include margin-b(35px);

    @include desktop-down {
      font-size: 80px;
    }

    @include tablet-down {
      font-size: 60px;
    }

    @include mob-down {
      font-size: 50px;
    }
  }

  &--size_l {
    @include title(40px);
    @include font-typeface($font-family-black);

    @include tablet-down {
      font-size: 30px;
    }
  }

  &--size_m {
    @include title(31px);

    @include tablet-down {
      font-size: 26px;
    }

    @include mob-down {
      font-size: 24px;
    }
  }

  &--size_s {
    @include title(20px);
    @include margin-b(20px);

    @include mob-down {
      font-size: 16px;
      @include margin-b(10px);
    }
  }

  &--margin_reduced {
    @include margin-b(10px);
  }

  &--font_light {
    @include font-typeface($font-family-light);
    color: $color-grey-e3;
    font-weight: 400;
  }

  &--font_regular {
    @include font-typeface($font-family-regular);
  }
}

.highlight {
  @include font-typeface($font-family-bold);
  color: $color-white;
}


/* Buttons */

.btn {
  border: $border-regular;
  padding: 10px 15px;
  color: $color-white;
  border-radius: 40px;
  position: relative;

  &:hover {
    background: $color-grey-5c;
  }

  &:focus {
    outline: none;
    border-color: transparent;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 40px;
      border: 2px solid $color-violet;
    }
  }

  &--submit {
    border: none;
    background: $color-blue;
    padding: 15px 50px;

    &:hover {
      background: $color-blue-hover;
    }

    &:not(:first-child) {
      margin-top: 40px;

      @include tablet-down {
        margin-top: 30px;
      }
    }
  }

  &-container {
    @include flexbox;
    flex-wrap: wrap;
    margin-bottom: -5px;

    .btn {
      margin-bottom: 5px;

      &:not(:last-child) {
        margin-right: 5px;
      }
    }
  }
}

/* Preheader */

.preheader {
  background: $color-grey;
  font-size: 0;

  &__logo {
    svg, img {
      width: 50px;
      height: 50px;
    }
  }
}

.logos {
  @include flexbox;

  &__item {
    &:not(:last-child) {
      margin-right: 40px;
    }

    svg {
      fill: $color-white;
      height: 40px;
      width: 100px;
    }
  }
}

/* Header*/

.header {
  &__container {
    @include flexbox;
    min-height: 470px;

    @include desktop-down {
      margin-left: -100px;
    }

    @include tablet-down {
      margin-left: -10px;
      margin-right: 20px;
      min-height: 380px;
    }

    @media screen and (max-width: 600px) {
      display: block;
      min-height: 0;
      margin: 0;
    }
  }

  &__part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include background($color-black, $header, cover);
    min-height: 470px;

    &--left {
      overflow: hidden;
      max-width: 517px;
      width: 100%;
      text-align: right;
      background-position: calc(100% + 362px) 0;

      @include tablet-down {
        max-width: none;
        background-position: calc(100% + 292px) 0;
      }

      .words {
        margin-right: -8px;
        margin-top: 50px;
      }
    }

    &--right {
      position: relative;
      z-index: -99;
      background-position: -394px 0;

      .words {
        margin-left: -24px;
        margin-top: 60px;

        @include desktop-down {
          margin-left: -20px;
          margin-top: 75px;
        }

        @include tablet-down {
          margin-left: -15px;
        }
      }

      @include tablet-down {
        margin-left: 0;
        background-position: -318px 0;
      }

      @media screen and (max-width: 600px) {
        z-index: auto;
      }
    }

    @include tablet-down {
      min-height: 380px;
    }

    @media screen and (max-width: 600px) {
      min-height: 0;
      background: none;
      text-align: right;

      .words {
        margin: 0;
      }
    }
  }

  @media screen and (max-width: 600px) {
    @include background(transparent, $header, 540px);
    background-position: -282px 0;
    padding: 80px 0;
  }

  //For IE only
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    &__part {
      background-image: $header-png;

      &--right {
        background-position: -499px 0;
      }
    }
  }
  //For Edge only
  @supports (-ms-ime-align:auto) {
    &__part {
      background-image: $header-png;

      &--right {
        background-position: -499px 0;
      }
    }
  }
}

/* Sections */

.division {
  margin-bottom: 110px;

  @include tablet-down {
    margin-bottom: 80px;
  }

  @include mob-down {
    margin-bottom: 50px;
  }
}

/* Common */

.common {
  @include margin-b(80px);

  @include tablet-down {
    @include margin-b(40px);
  }

  &--flex {
    @include flexbox;
    justify-content: space-between;

    @include tablet-down {
      flex-direction: column;
    }
  }

  &--margin_reduced {
    @include margin-b(40px);

    @include tablet-down {
      @include margin-b(30px);
    }
  }

  &__item {
    width: 100%;


    &:not(:last-child) {
      margin-right: 120px;

      @include desktop-down {
        margin-right: 90px;
      }

      @include tablet-down {
        margin: 0 0 40px;
      }
    }

    &--gap_reduced {
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }

  &--custom {
    .common__item {
      box-sizing: border-box;

      &:not(:last-child) {
        margin: 0;
        padding-right: 70px;

        @include tablet-down {
          padding: 0;
          margin: 0 0 40px;
        }
      }
    }
  }

  &--bgr {
    &_shooting {
      @include background(transparent, $shooting-man, contain);
      background-position: right center;
      padding-right: 290px;
      box-sizing: border-box;

      @include tablet-down {
        padding-right: 200px;
      }

      @media screen and (max-width: 600px) {
        background-size: 150px;
        padding: 170px 0 0;
        background-position: center top;
      }

    }

    &_rushing {
      @include background(transparent, $rushing-man, 560px);
      background-position: right bottom;

      @include desktop-down {
        background-size: auto;
      }

      @include tablet-down {
        background-size: 300px;
        background-position: right center;
      }

      @media screen and (max-width: 700px) {
        background: none;
      }
    }

    &_gang {
      position: relative;

      @media screen and (max-width: 700px) {
        padding-bottom: 230px;
      }

      &:after {
        @include pseudo;
        @include background(transparent, $gang, contain);
        background-position: 75% bottom;

        @media screen and (max-width: 1200px) {
          z-index: -99;
          background-position: 100% bottom;
        }

        @include desktop-down {
          background-size: 500px;
        }

        @media screen and (max-width: 900px) {
          background-size: 350px;
        }

        @media screen and (max-width: 700px) {
          background-position: left bottom;
        }
      }
    }

    &_yoga {
      position: relative;
      padding-bottom: 120px;

      @include tablet-down {
        padding-bottom: 70px;
      }

      @media screen and (max-width: 600px) {
        padding-bottom: 60px;
      }

      @include mob-down {
        padding-bottom: 0;
      }

      &:after {
        @include pseudo;
        left: -25px;
        @include background(transparent, $yoga, 140px);
        background-position: left bottom;

        @include tablet-down {
          background-size: 90px;
          left: -13px;
        }

        @media screen and (max-width: 600px) {
          background-size: 70px;
          left: -10px;
        }

        @include mob-down {
          display: none;
        }
      }
    }
  }
}

.icons {
  &__item {
    @include flexbox;

    @include desktop-down {
      flex-direction: column;
    }

    &:not(:last-child) {
      @include tablet-up {
        margin-right: 40px;
      }
    }
  }

  &__item:before {
    content: '';
    background-repeat: no-repeat;
    width: 100%;
    margin-right: 35px;
    flex-shrink: 0;

    @include desktop-down {
      margin: 0 0 25px;
      background-position: center center;
    }

    @include tablet-down {
      margin: 0 auto 25px;
    }
  }

  @for $i from 1 through length($icons) {
    &__item:nth-child(#{$i}):before {
      background-image: map-get(nth($icons, $i), url);
      max-width: map-get(nth($icons, $i), width);
      height: map-get(nth($icons, $i), height);

      @include desktop-down {
        height: 65px;
      }
    }
  }

  @include tablet-down {
    text-align: center;
  }
}

.cards {
  @include desktop-down {
    flex-wrap: wrap;
  }

  @include tablet-down {
    align-items: center;
  }

  &__title {
    @include flexbox;
    align-items: center;

    &:before {
      content: '';
      background-repeat: no-repeat;
      width: 100%;
      height: 35px;
      margin-right: 15px;
      flex-shrink: 0;
    }

    @for $i from 1 through length($mini-icons) {
      .cards__item:nth-child(#{$i}) &:before {
        background-image: map-get(nth($mini-icons, $i), url);
        max-width: map-get(nth($mini-icons, $i), width);
      }
    }

    @include tablet-down {
      justify-content: center;
    }
  }

  &__item {
    box-sizing: border-box;
    color: $color-white;
    position: relative;
    padding: 300px 20px 25px;
    flex: 0 1 25%;
    background-repeat: no-repeat;
    background-size: 170px;
    background-position: center 30px;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 20px;
      border: $border-regular;
      transition: border .3s linear;
    }

    &:hover:after {
      border: 2px solid $color-green;
    }

    &--bgr_bigger {
      background-size: 190px;
    }

    @for $i from 1 through length($cards) {
      &:nth-child(#{$i}) {
        background-image: map-get(nth($cards, $i), grey);
      }

      &:hover:nth-child(#{$i}) {
        background-image: map-get(nth($cards, $i), colored);
        animation: change_bgr--#{$i} .3s linear;
      }
    }

    &:not(:last-child) {
      margin-right: 30px;
    }

    @include desktop-down {
      flex: 1 0 calc(50% - 100px);

      &:not(:last-child) {
        margin: 0 30px 30px 0;
      }

      &:nth-child(even) {
        margin-right: 0;
      }

      &:nth-last-child(-n+2) {
        margin-bottom: 0;
      }
    }

    @include tablet-down {
      max-width: 450px;
      width: 100%;

      &:not(:last-child) {
        margin: 0 0 30px;
      }
    }
  }
}

/* Form */

input, select, textarea, button {
  font: inherit;
}

input, select, textarea {
  box-sizing: border-box;
  padding: 12px 15px;
  width: 100%;
  border-radius: 0;
  appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  border: 1px solid $color-grey-extra-light;
  color: $color-black;

  &:focus {
    outline: none;
    border-color: $color-blue;
  }
}

input, textarea {
  background-color: $color-white;
}

textarea {
  resize: none;
  overflow: auto;
  height: 100%;
}

select {
  background-color: transparent;
  border-radius: 0;
  position: relative;
  cursor: pointer;
  z-index: 10;

  &::-ms-expand {
    display: none;
  }
}

::placeholder {
  color: $color-grey-light;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder, ::-ms-input-placeholder {
  color: $color-grey-light;
}

.form {
  .common {
    @include desktop-down {
      display: block;

      &__item {
        @include margin-b(20px);
      }
    }
  }

  @include desktop-down {
    max-width: 400px;
    width: 100%;
  }

  &:not(:first-child) {
    margin-top: 30px;
  }

  &__container {
    @include flexbox;
    justify-content: space-between;
  }

  &__col {
    width: 100%;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__field {
    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &--select {
      position: relative;
      background-color: $color-white;

      &:after {
        content: '';
        position: absolute;
        top: 15px;
        right: 17px;
        width: 12px;
        height: 12px;
        border-top: 2px solid $color-grey-69;
        border-right: 2px solid $color-grey-69;
        transform: rotate(135deg);
        z-index: 5;
        transition: all .3s ease-in-out;
      }

      &:focus-within:after {
        top: 17px;
        transform: rotate(-45deg);
      }
    }
  }
}

//Additional

.margin-reboot {
  @include margin-b(0);
}




